let setting = {
    owner: ['6285849227863@s.whatsapp.net', '159820044828885@lid'],
    noPrefix: false,
    usePairingCode: true,
    self: false,
    selfOwner: '6285849227863@s.whatsapp.net',
    logLevel: 'error',
}

export default setting